* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

#sandbox{
    position: fixed;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
}